:root {
    --background: #001829;
    --text: #FFFFFF;
    --box: #00243d;
}

body {
    background: var(--background);

    font-family: serif;
    font-weight: 400;
    
    color: var(--text);
    
    font-size: 1.5vw;
    padding: 0px;
    margin: 0px;
    display:flex;
    flex-direction:column;
    align-items: center;
}

#header {
    width:70vw;
    height: 10vw;
    font-size: 6vw;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    line-height:10vw;
    
    user-select: none;
    background: var(--box);
    
    
    border-radius: 5vw;
    align-self: center;
    margin-bottom: 2vw;
    margin-top: 2vw

    /*
    border-style: none solid solid solid;
    border-width: 0.5vw;
    border-color: white;
    */
}

.tips {
    display: flex;
    flex-direction: row;
    width:98vw;
    height: calc(50% - 9vw);
    margin-bottom: 2vw;
    margin-right: 1vw;
    margin-left: 1vw;
}

.box {
    background: var(--box);
    height: calc(100% - 4vw);
    width: calc(100% - 6vw);
    flex-grow:1;
    border-radius: 2vw;
    margin-right: 1vw;
    margin-left: 1vw;
    padding: 2vw;
    transform: scale(1);
    transition-duration: 1s;
}

@keyframes boxHover {
    from {transform: scale(1)}
    to  {transform: scale(1.1)}
}

.box:hover {
    transform: scale(1.1);
}

::selection {
    background-color: var(--text);
    color: var(--box);

}

.link {
    color: var(--text);
    background-color: var(--box);
    padding: 10px;
}

a {
    color: var(--text);
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%
}

table, th, td {
    border: 2px solid var(--box);
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}